*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.planner_popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 5px 0 10px;
}
.planner_popup button{
    width: 100%;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.planner_popup .item{
    margin-bottom: 0px;
    background-color: #dd2d65;
    font-size: 15px;
    border-radius: 10px;
    align-items:  top;
    justify-content:center;
    position: relative;
}
.planner_popup .item .fa-minus {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 7px;
}
.planner_popup .item .fa-bars{
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 7px;
}
.planner_popup .course_name {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
}
.planner_popup .remarks {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.planner_popup .DDcontainer{
    height: 600px;
    overflow-y: scroll;
    padding: 0;
}



.planner_popup{
    width: 1500px;
    height: 800px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    font-size: 12px;
}
.open-planner_popup{
    visibility: visible;
    top: 900%;
    transform: translate(-50%, -50%) scale(1);
}